div#top
{
    font-size: 24pt;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    width: 100%;
    left: 0;
}

div#links
{
    font-size: 12pt;
    font-family: serif;
    text-align: center;
}

body
{
    background-image: url('../images/congruent_pentagon/congruent_pentagon.png');
    background-color: #cccccc;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
}